# MySQL Examples

## Access the webinterface of a MySQL database

We will use a preinstalled database in the AWS Cloud (Amazon Web Service). The webinterface to the database (phpMyAdmin) is available at:
    
* URL: http://ec2-54-211-136-9.compute-1.amazonaws.com/phpMyAdmin/
* Username: admin
* Password: famviews58239

Don't share the credentials with anyone else or misuse the database.

![mysql01.PNG](images/mysql01.PNG)

##  Establish a MySQL connection with Python
```Python
conda install pymysql
```

In [ ]:
import pandas as pd
import pymysql

The webinterface and the database have two different endpoints. Therefore, accessing the database directly without an interface is only possible using the direct URL as below:

In [ ]:
# Connection parameters to the instance of the database, not the visual interface
host="dbtest.ckiye7lbs2mb.us-east-1.rds.amazonaws.com"
user="admin"
password="famviews58239"
db="webmining"

Enter your name here to create your own table

In [ ]:
yourname="martin"

In [ ]:
#Create a table
# Before you execute it, replace the <yourname> with your name first (no spaces, no special characters)

connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    cursorObject            = connection.cursor()                                     

    sqlCreateTableCommand   = "CREATE TABLE webmining."+yourname+"_tracking_sales ("\
      "id INT NOT NULL AUTO_INCREMENT,"\
      "product_name VARCHAR(45) NULL,"\
      "product_price_per_unit DECIMAL(6,2) NULL,"\
      "units_ordered INT NULL,"\
      "PRIMARY KEY (id));"

    # Execute the sqlQuery
    cursorObject.execute(sqlCreateTableCommand)

    #Fetch all the rows - from the command output
    rows = cursorObject.fetchall()
    for row in rows:
        print(row)

    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

Let's take a look in the visual interface

In [ ]:
#Show all tables in the database using python
connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    # Create a cursor object
    cursorObject            = connection.cursor()                                     

    # List the tables using SQL command
    sqlShowTablesCommand    = "show tables"   

    # Execute the SQL command
    cursorObject.execute(sqlShowTablesCommand)

    #Fetch all the rows - from the command output
    rows = cursorObject.fetchall()
    for row in rows:
        print(row)

    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

In [ ]:
#Insert Dummy data into the table
# Before you execute it, replace the <martin> with your name (no spaces, no special characters)
connection = pymysql.connect(host=host,user=user,password=password,db=db)
try:
    cursorObject = connection.cursor()                                     

    insertStatement = "INSERT INTO webmining."+yourname+"_tracking_sales (product_name,product_price_per_unit,units_ordered) VALUES"\
    "('Desktop Computer', 500.0, 5),"\
    "('Monitor', 200.0, 5),"\
    "('Telephone', 150.0, 2),"\
    "('Telephone', 150.0, 3),"\
    "('Chair', 100.0, 1)"
 
    cursorObject.execute(insertStatement)
    connection.commit();
    
except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connection.close()

In [ ]:
#Connect to the database and keep the connection open
connection = pymysql.connect(host=host,user=user,password=password,db=db)

In [ ]:
#Create the SQL Query
# Before you execute it, replace the <martin> with your name (no spaces, no special characters)
sqlquery = pd.read_sql_query("select product_name, product_price_per_unit, units_ordered, "\
                              "((units_ordered) * (product_price_per_unit)) AS revenue from webmining."+yourname+"_tracking_sales", connection)

In [ ]:
#Convert the SQL Result into a dataframe
df = pd.DataFrame(sqlquery, columns=['product_name','product_price_per_unit','units_ordered','revenue'])
df

In [ ]:
#Work with the dataframe as usual
df['revenue'].max()

In [ ]:
#Close the connection
connection.close()