# SQLite

Download SQLite Studio: https://sqlitestudio.pl/
Install SQLite Studio: Extract the zip file

![sqlite01.PNG](images/sqlite01.PNG)

* Create a new database in SQLite Studio and name it "starwars.db". 
* Store the file in the same directoy as this Jupyter notebook file. 
* Execute the SQL commands stored in starwars.text to fill the database.

![sqlite02.PNG](images/sqlite02.PNG)

![sqlite03.PNG](images/sqlite03.PNG)

Let's explore the database using SQL statements
```
Select * from people

Select people.name from people where people.height<100

Select people.name,people.height from people where people.height<100 order by people.height ASC

Select people.name, planet.name from people, planet where people.planet_id=planet.id and people.eye_color='blue'

Select * from planet where planet.terrain like '%desert%'
```

Install the python library for sqlite
```Python
conda install sqlite
```

In [ ]:
import sqlite3
import pandas as pd

# Create or connect to an existing database
connection = sqlite3.connect('starwars.db')

In [ ]:
# Select data
ret=connection.execute("select * from people")

In [ ]:
# Fetchall
ret.fetchall()

In [ ]:
# Load data directly into a dataframe
sqlquery = pd.read_sql_query("Select * from people", connection)
df = pd.DataFrame(sqlquery)
df

Calculate interesting statistics

In [ ]:
df.groupby("planet_id")["height"].mean()